autopep8==1.5.4
boto3==1.16.37
botocore==1.19.37
flake8==3.8.4
jmespath==0.10.0
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.2
urllib3==1.26.2
